@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
display: flex;
justify-content: center;
align-items: center;
background-image: url('https://source.unsplash.com/random/1500*1500?sun,rain,cold');
background-size: cover;
}